.cabecera{
    align-items: center;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}
.menu__lista{
    display: flex; 
}

.menu__item{
    list-style: none;
}

.menu__link{
    color: #808080;
    text-decoration: none;
    margin-right: 2.5rem;
}

.menu__item:first-child{
    color: #333333;
    font-weight: bolder;
}

.menu__link:hover{
    text-decoration: underline;
}